flows/Create_Data_Model_from_Membrane-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Fields_Action</name>
        <label>Create Fields Action</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <actionName>MembraneAutomation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen_for_Response</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_for_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>createFields</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>membraneDefinitionId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>validationOnly</name>
            <value>
                <elementReference>isValidationOnlyVariable</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MembraneAutomation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Objects_Action</name>
        <label>Create Objects Action</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>MembraneAutomation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen_for_Response</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_for_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>createDataModel</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>membraneDefinitionId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>validationOnly</name>
            <value>
                <elementReference>isValidationOnlyVariable</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MembraneAutomation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Is_Validation_FALSE_Assignment</name>
        <label>Is Validation FALSE Assignment</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>isValidationOnlyVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Objects_and_Fields_Choice_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Validation_TRUE_Assignment</name>
        <label>Is Validation TRUE Assignment</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>isValidationOnlyVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Objects_Action</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>createfields</name>
        <choiceText>Create Fields</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>createfields</stringValue>
        </value>
    </choices>
    <choices>
        <name>createobjects</name>
        <choiceText>Create Objects</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>createobjects</stringValue>
        </value>
    </choices>
    <choices>
        <name>DataModelCreation</name>
        <choiceText>Creation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Creation</stringValue>
        </value>
    </choices>
    <choices>
        <name>ValidationOnly</name>
        <choiceText>Validation Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Validation Only</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Mode_Check</name>
        <label>Mode Check</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Validation_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Data_Model_Abstraction_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ValidationOnly</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Validation_TRUE_Assignment</targetReference>
            </connector>
            <label>Is Validation Only</label>
        </rules>
        <rules>
            <name>Create_Data_Model</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Data_Model_Abstraction_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DataModelCreation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Validation_FALSE_Assignment</targetReference>
            </connector>
            <label>Create Data Model</label>
        </rules>
    </decisions>
    <decisions>
        <name>Objects_or_Fields</name>
        <label>Objects or Fields</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Create_Fields_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Fields</defaultConnectorLabel>
        <rules>
            <name>Objects</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Object_and_Fields_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>createobjects</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Objects_Action</targetReference>
            </connector>
            <label>Objects</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Data Model from Membrane {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Data Model from Membrane</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Objects_and_Fields_Choice_Screen</name>
        <label>Objects and Fields Choice Screen</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Objects_or_Fields</targetReference>
        </connector>
        <fields>
            <name>Object_and_Fields_Choice</name>
            <choiceReferences>createobjects</choiceReferences>
            <choiceReferences>createfields</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Object and Fields Choice</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_for_Fault</name>
        <label>Screen for Fault</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_text_for_fault</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_for_Record_Id</name>
        <label>Screen for Record Id</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Mode_Check</targetReference>
        </connector>
        <fields>
            <name>Data_Model_Abstraction_Choice</name>
            <choiceReferences>ValidationOnly</choiceReferences>
            <choiceReferences>DataModelCreation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Data Model Abstraction Choice</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_for_Response</name>
        <label>Screen for Response</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_text_for_Result</name>
            <fieldText>&lt;p&gt;{!Create_Objects_Action.message}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Create_Fields_Action.message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_for_Record_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isValidationOnlyVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
